.headerWrapper {
  z-index: 11;
  width: 100%;
  position: fixed;
  top: 0;
  user-select: none;

  transition: background-color 250ms;
  .header {
    width: 1000px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;

    h1 .mobileLogo {
      display: none;
    }

    h1 .desktopLogo {
    }

    .settingsButton {
      padding: 0.5rem;
      background-color: var(--theme-color);
      border: none;
      border-radius: 0.4rem;

      --icon-size: 2rem;
      .settingsIcon {
        width: var(--icon-size) !important;
        height: var(--icon-size) !important;
        display: block;
        color: #282b2e;

        &.mobileIcon {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1168px) {
  .headerWrapper {
    .header {
      width: 100%;
      box-sizing: border-box;
      padding: 1.3rem 1.6rem;

      h1 {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        .mobileLogo {
          display: block;
        }
        .desktopLogo {
          display: none;
        }
      }

      .settingsButton {
        padding: 0.35rem;
        padding-right: 0;
        background-color: rgb(0, 0, 0, 0);
        .settingsIcon {
          color: var(--theme-color);
          &.desktopIcon {
            display: none;
          }
          &.mobileIcon {
            display: block;
          }
        }
      }
    }
  }
}
