.about {
  display: flex;
  align-items: center;
  padding-top: 13rem;
  height: 20rem;
  .textWrapper {
    display: inline-block;
    h1 {
      font-size: 2.875rem;
    }
    h2 {
      font-size: 1.5rem;
      color: #777779;
      margin-bottom: 1.5rem;
    }

    .mobileDescription {
      display: none;
      margin-bottom: 3rem;
    }
  }
  .pictureWrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 14rem;
    > div {
      height: 100%;
      width: 100%;
      position: unset !important;
      transform: translateX(2rem);
    }
    .img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}

@media screen and (max-width: 1168px) {
  .about {
    padding-top: 8rem;
    flex-direction: column;
    text-align: center;
    .textWrapper {
      width: 70%;
      .desktopDescription {
        display: none;
      }
      .mobileDescription {
        display: block;
      }
    }

    .pictureWrapper {
      > div {
        transform: translateX(0);
      }
    }
  }
}
