.about {
  display: flex;
  align-items: center;
  padding-top: 10rem;
  height: 20rem;
  .textWrapper {
    display: inline-block;
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      color: #777779;
      transform: translateY(-0.8rem);
    }
  }
  .pictureWrapper {
  }
}
