.work {
  z-index: 1000;
  padding-top: 10rem;
  .workHeader {
    font-size: 1.75rem;
  }
}
.flexWrapper {
  display: flex;

  .text {
    width: calc(35% + 1rem);
    color: rgb(21, 20, 24);
    padding: 1rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    p {
      font-weight: 400;
      font-size: 1.05rem;
      margin-bottom: 2rem;
    }
    .links {
      display: flex;
    }

    button {
      border: none;
      padding: 1rem;
      font-size: 1rem;
      background-color: var(--theme-color);
      border-radius: 0.8rem;
      vertical-align: center;
      line-height: 1.4rem;
      display: flex;
      cursor: pointer;
      margin-right: 0.5rem;
      .buttonIcon {
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        stroke-width: 2.5px;
      }

      &:hover {
        color: inherit;
        filter: unset;
      }
    }
  }
}

@media screen and (max-width: 73rem) {
  .work {
    .text {
      width: 100%;
    }
  }
}

@media screen and (max-width: 55rem) {
  .work {
    color: rgb(21, 20, 24);
    text-align: center;
    .flexWrapper {
      flex-direction: column;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
