.ImageSlider {
  display: inline-flex;
  width: 33.3333vw;
  max-width: 450px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.pictureWrapper {
  width: 100vw;
  height: calc(((100vw/3)/16) * 9);
  position: relative;
  left: 0;
  margin-right: 10px;

  transition: left 1s;
  > div {
    width: 33.3333vw;
    max-width: 450px;
    position: unset !important;
  }

  .img {
    border-radius: 1rem;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  img {
    border-radius: 1rem;
  }
}

.controls {
  user-select: none;
  display: flex;
  padding: 0.3rem 0 0 0.5rem;
  & > * {
    box-sizing: border-box;
  }
  div {
    width: fit-content;
    display: block;
    font-size: 1rem;
    margin: 0.2rem;

    label {
      display: block;
      position: relative;
      border: 0.15em solid rgb(136, 136, 136);
      border-radius: 1rem;
      height: 1em;
      width: 1em;
    }

    label::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-53%, -50%);
      content: "";
      width: 0em;
      height: 0em;
      background-color: var(--theme-color);
      border-radius: 50%;
      transition: 80ms ease-out;
    }

    input:checked ~ label::before {
      width: 0.6em;
      height: 0.6em;
    }
    input:checked ~ label {
      border: 0.15em solid var(--theme-color);
    }
    input {
      position: absolute;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 55rem) {
  .ImageSlider {
    width: calc(100vw - 6rem);
    max-width: none;
  }
  .pictureWrapper {
    width: 100%;
    max-width: none;
    height: calc((100vw - 6rem) / 16 * 9);

    > div {
      max-width: none;
      width: calc(100vw - 6rem);
    }
  }
  .controls {
    padding-left: 0;
    justify-content: center;
  }
}
