.pictureWrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 14rem;
  > div {
    height: 100%;
    width: 100%;
    position: unset !important;
    transform: translateX(2rem);
  }
  .img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
