@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #151418;
  height: 100%;
  body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    color: #fefefe;
    height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  transition: 300ms;
  filter: brightness(90%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
