.shape {
  position: absolute;
  transform: rotate(45deg);
}

#_1 {
  width: 50rem;
  height: 50rem;
  top: -5rem;
  left: -12rem;

  border-radius: 23%;
  background-color: rgb(36, 35, 41);
}

#_2 {
  width: 4000px;
  height: 4000px;
  top:  1050px;
  left: -600px;

  border-radius: 23%;
  background-color: rgb(251, 251, 255);
}

#_3 {
  
}
