.bg {
  z-index: -10;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
